<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myteam.mall.mapper.ShopCheckMapper1">
  <resultMap id="BaseResultMap" type="com.myteam.mall.entity.po.ShopCheck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_acct" jdbcType="VARCHAR" property="shopAcct" />
    <result column="shop_pwd" jdbcType="VARCHAR" property="shopPwd" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_personincharge" jdbcType="VARCHAR" property="shopPersonincharge" />
    <result column="shop_personphone" jdbcType="VARCHAR" property="shopPersonphone" />
    <result column="shop_check_status" jdbcType="VARCHAR" property="shopCheckStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_acct, shop_pwd, shop_name, shop_personincharge, shop_personphone, shop_check_status
  </sql>
  <select id="selectByExample" parameterType="com.myteam.mall.entity.po.ShopCheckExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myteam.mall.entity.po.ShopCheckExample">
    delete from shop_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myteam.mall.entity.po.ShopCheck">
    insert into shop_check (id, shop_acct, shop_pwd, 
      shop_name, shop_personincharge, shop_personphone, 
      shop_check_status)
    values (#{id,jdbcType=INTEGER}, #{shopAcct,jdbcType=VARCHAR}, #{shopPwd,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{shopPersonincharge,jdbcType=VARCHAR}, #{shopPersonphone,jdbcType=VARCHAR}, 
      #{shopCheckStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myteam.mall.entity.po.ShopCheck">
    insert into shop_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopAcct != null">
        shop_acct,
      </if>
      <if test="shopPwd != null">
        shop_pwd,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopPersonincharge != null">
        shop_personincharge,
      </if>
      <if test="shopPersonphone != null">
        shop_personphone,
      </if>
      <if test="shopCheckStatus != null">
        shop_check_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopAcct != null">
        #{shopAcct,jdbcType=VARCHAR},
      </if>
      <if test="shopPwd != null">
        #{shopPwd,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopPersonincharge != null">
        #{shopPersonincharge,jdbcType=VARCHAR},
      </if>
      <if test="shopPersonphone != null">
        #{shopPersonphone,jdbcType=VARCHAR},
      </if>
      <if test="shopCheckStatus != null">
        #{shopCheckStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myteam.mall.entity.po.ShopCheckExample" resultType="java.lang.Long">
    select count(*) from shop_check
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectShopCheckByKeyword" resultMap="BaseResultMap">
    select id,shop_acct,shop_name,shop_personincharge,shop_personphone,shop_check_status
    from shop_check
    where shop_name like concat('%',#{keyword},'%')
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_check
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopAcct != null">
        shop_acct = #{record.shopAcct,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPwd != null">
        shop_pwd = #{record.shopPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPersonincharge != null">
        shop_personincharge = #{record.shopPersonincharge,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPersonphone != null">
        shop_personphone = #{record.shopPersonphone,jdbcType=VARCHAR},
      </if>
      <if test="record.shopCheckStatus != null">
        shop_check_status = #{record.shopCheckStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_check
    set id = #{record.id,jdbcType=INTEGER},
      shop_acct = #{record.shopAcct,jdbcType=VARCHAR},
      shop_pwd = #{record.shopPwd,jdbcType=VARCHAR},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_personincharge = #{record.shopPersonincharge,jdbcType=VARCHAR},
      shop_personphone = #{record.shopPersonphone,jdbcType=VARCHAR},
      shop_check_status = #{record.shopCheckStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myteam.mall.entity.po.ShopCheck">
    update shop_check
    <set>
      <if test="shopAcct != null">
        shop_acct = #{shopAcct,jdbcType=VARCHAR},
      </if>
      <if test="shopPwd != null">
        shop_pwd = #{shopPwd,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopPersonincharge != null">
        shop_personincharge = #{shopPersonincharge,jdbcType=VARCHAR},
      </if>
      <if test="shopPersonphone != null">
        shop_personphone = #{shopPersonphone,jdbcType=VARCHAR},
      </if>
      <if test="shopCheckStatus != null">
        shop_check_status = #{shopCheckStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myteam.mall.entity.po.ShopCheck">
    update shop_check
    set shop_acct = #{shopAcct,jdbcType=VARCHAR},
      shop_pwd = #{shopPwd,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_personincharge = #{shopPersonincharge,jdbcType=VARCHAR},
      shop_personphone = #{shopPersonphone,jdbcType=VARCHAR},
      shop_check_status = #{shopCheckStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>